p {
  inline-size: 800px;
  font-size: 35px;
  margin: auto;
  padding-top: 10%;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.background {
  background-image: url(./images/RMA.gif);
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
}

.charBG{
  background-color: #101010;
}

.btn btn-light{
  margin-top: 20px;
}

/* .btn {
  font-size: 20px;
  padding: 32px 16px;
  height: 100px;
  justify-content: space-evenly;
} */

/* .btn1 {
  width: 100px;
  margin-right: 5%;
  height: 50px;
  color: #10aec5;
  background-color: #74f344;
  font-size: large;
  border: #10aec5 3px solid;
}

.btn2 {
  width: 100px;
  height: 50px;
  color: #10aec5;
  background-color: #74f344;
  font-size: large;
  border: #10aec5 3px solid;
}

.pg{
  font-size: large;
} */

.home {
  background-color: black;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #10aec5;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: #a4da7c;
  text-decoration: none;
  font-family: fantasy;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
